*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.cardHighlight{
  min-height: 100%;
}

.pagetitle{
	font-family: sans serif, Myriad Pro;
}

.notfound{
	text-decoration: none;
}

#formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

Form {
  width: 500px;
  padding: 40px;
  background-color: white;
  box-shadow: 0px 2px 20px 10px rgba(0, 10, 150, 0.2);
  border-radius: 10px;
  text-align: center;
}

Form.Label {
  font-weight: bold;
  margin-bottom: 10px;
}



Form.Control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  margin: 20px;
}

Form.Control:focus {
  outline: none;
  border-bottom: 2px solid #007bff;
}


Button {
  margin-top: 30px !important;
  width: 100%;
  padding: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

}



Button:hover {
  background-color: #0069d9;
}

Button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

